@font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ownglyph_UNZ-Rg';
}

button, a{
    all: unset;
    cursor: pointer;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: #e1e1e1;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
}

#root{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 10px;
}

